body {
    font-family: Helvetica;
    background: rgb(222,222,222);
    text-align: center;
    vertical-align: center;
}

form { 
    display: inline; 
}

.button {
    height: 50px;
    width: 150px;
}
